{% extends "base.html" %} {% block title %}메인 페이지{% endblock %} {% block
content %} {% if page_type != 'mypage' %}
<h2 class="pagetitle">메인페이지</h2>
{% else %}
<h2 class="pagetitle">마이페이지</h2>

{% endif %} {% if page_type != 'mypage' %}
<div id="contents-type">
  <button onclick="window.location.href='/filter?meetingtype=전체보기'">
    전체보기
  </button>
  <button onclick="window.location.href='/filter?meetingtype=배달'">
    배달
  </button>
  <button onclick="window.location.href='/filter?meetingtype=커피챗'">
    커피챗
  </button>
</div>
{% endif %}

<!-- 카드를 감싸는 그리드 컨테이너 추가 -->
<div class="columns is-multiline">
  {% for post in posts %}
  <!-- 각 카드에 column 클래스 추가하여 한 줄에 2개씩 배치 -->
  <div class="column is-half">
    {% if page_type != 'mypage' %}
    <div class="card" onclick="window.location.href='/content/{{post._id}}'">
      {% else %}
      <div
        class="card"
        onclick="window.location.href='/updatepost/{{post._id}}'"
      >
        {% endif %}
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{post['image']}}" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ post.title }}</p>
            </div>
          </div>
          <div class="content">
            <div class="foodtype-area">
              <span>음식 종류: {{ post.food_type }}</span>
            </div>
            <div class="meetingtype-area">
              <span>모임 종류: {{ post.meeting_type }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endblock %}
</div>
