<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- bulma -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <!-- 스타일 -->
    <link href="../static/style/style.css" rel="stylesheet" />
    <title>{% block title %}기본 제목{% endblock %}</title>
  </head>
  <body>
    <div id="main-container" class="{% if have_bg_img %}bg-img{% endif %}">
      <header>
        <div>
          <a href="/">
            <p id="logo">Survival Bites</p>
          </a>
        </div>
        {% if show_profile %}
        <button>프로필</button>
        {% endif %}
      </header>
      {% block content %}
      <!-- 각 페이지의 내용이 들어올 자리 -->
      {% endblock %}
    </div>
  </body>
</html>
