{% extends "base.html" %} {% block title %}포스팅 상세 페이지{% endblock %} {%
block content %}
<script>
  const postId = "{{ post['_id'] }}";
  const userId = "{{ id }}"

  function join() {
    $.ajax({
      type: "POST",
      url: "/join",
      data: { post_id: postId, user_id: userId}, 
      success: function (response) {
        if (response["result"] != "success") {
          console.log("참여 실패");
          alert(response["message"]);
        } else {
          console.log("참여 성공!");
          location.reload();
        }
      },
    });
  }

  function makeJoinList() {
    $.ajax({
      type: "POST",
      url: "/joinlist",
      data: { post_id: postId}, 
      success: function (response) {
        let user_list = response.list
        $("#joined_list").html("")
        $("#joined_list").hide()
        for (let i=0; i < user_list.length; i++){
          $("#joined_list").append(
            `<div>${user_list[i]}</div>`
          )
          console.log(user_list[i])
        }
      },
    });
  }

  function showJoinList() {
    if ($("#joined_list").css("display") == "block"){
      $("#joined_list").hide()
    } else{
      $("#joined_list").show()
    }

  }


  function remove(post_id) {
    $.ajax({
      type: "POST",
      url: "/updatepost/" + post_id,
      data: { post_id: post_id, action: 'remove' },
      success: function (response) {
        if (response["result"] != "success") {
          console.log("삭제 실패");
        } else {
          console.log("삭제 성공!");
          location.reload();
          window.location.href="/mypage"
        }
      },
    });
  }



  function init(){
    makeJoinList()
  }
  init()




</script>
<div class="post-detail" id="{{post['_id']}}">
  <div class="head-area">
    <span>{{post['title']}}</span>
    <span>{{post['current_participants']}}/{{post['max_of_participants']}}명</span>
    <span>{{post['date']}}</span>
  </div>
  <div class="image-area">
    <img src="{{post['image']}}">
  </div>
    <div class="content-area">{{post['content']}}</div>
    <button
    id="joind-list"
      class="list-btn button is-light"
      onclick="showJoinList()"
    >
      참여자 목록
    </button>
    {% if page_type == 'postpage' %}

    <button id="join-btn" class="join-btn button is-primary" onclick="join('{{ post._id }}')">
      참여하기
    </button>
    {% endif %}
    <div id="joined_list" class="box" style="margin: 40px 0">
      
    </div>
    {% if page_type == 'mypage' %}
    <!-- <button
      class="list-btn button is-light"
      onclick="edit()"
    >
      수정하기
    </button> -->
    <button class="join-btn button is-primary" onclick="remove('{{ post._id }}')">
      삭제하기
    </button>
    {% endif %}
  </div>
  {% endblock %}
</div>
