html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  display: flex;
  justify-content: center;
}

a {
  color: white;
}

header {
  border-bottom: solid 1px #555;
  padding: 20px 0;
}

#logo {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
}

#main-container {
  text-align: center;
  position: absolute;
  color: white;
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.bg-img {
  background-image: url("../images/main.jpg");
}

#text-area {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#text-title {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 36px;
}

#text-comment {
  font-size: 24px;
  line-height: 35px;
}

#hader {
  display: block;
}

/* 버튼설정 */
.primary-btn {
  margin: auto;
  width: 90%;
  margin-bottom: 40px;
}

/* 인풋설정 */
.primary-input {
  color: black;
  background-color: white;
  margin: auto;
  width: 90%;
  margin-bottom: 40px;
}

.primary-input::placeholder {
  color: #555;
}

.sing-up-area-input {
  margin: auto;
  width: 90%;
  margin-bottom: 40px;
}

.login-btn-style {
  margin: 10px 0;
  width: 90%;
}

.login-label {
  font-size: 36px;
  font-weight: 700;
}

/* 로그인 영역 */

#login-area {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#login-btn-area {
  margin-bottom: 30px;
}

/* 회원가입 영역 */

#signup-area {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#login-btn-area {
  margin-bottom: 30px;
}

#sign-up-form {
  margin-top: 40px;
}

/* 카드 등록 영역 */
#make-card-area {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#make-card-form {
  margin-top: 40px;
  width: 90%;
}

.pagetitle {
  font-size: 28px;
  font-weight: 700;
}

#contents-type {
  margin: 10px 0;
}

#contents-type button {
  margin: 0 10px;
}
